*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body{
    background-color: aliceblue;
}
.card{
    height: 100px;
    width: 100px;
    border: 1px solid gray;
    border-radius: 50%;
}